/* ROOT */
* {
  box-sizing: border-box;
  font-size: 10px;
}

body {
  margin: 0;
  background-image: url(../images/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

/* FONTS */
@font-face {
  font-family: galliard;
  src: url(../fonts/GalliardStd-Ultra.otf);
}

/* TRANSITIONS/ANIMATIONS */
.hover_glow {
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(255, 255, 255, 0);
  transition-duration: 0.5s;
  transition-property: box-shadow;
}
  .hover_glow:hover {
    box-shadow: 0 0 12px rgba(255, 255, 255, 0.8);
  }

@keyframes pop_animation {
  50% {
    transform: scale(1.2);
  }
}
  .pop {
    animation-name: pop_animation;
    animation-duration: 0.3s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
  }

/* HEADER */
.header_container {
  display: flex;
  justify-content: center;
  align-items: baseline;
  height: 10vh;
  line-height: 10vh;
  overflow: hidden;
}
  .top_heading {
    font-size: 6rem;
    font-family: galliard, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background: -webkit-linear-gradient(black 35%, darkred 70%, firebrick 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 2px white;
    letter-spacing: -0.3rem;
    margin: 0 1rem;
  }
  .top_subheading {
    font-size: 4.5rem;
    background: -webkit-linear-gradient(black 45%, plum);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px white;
    margin: 0 1rem;
  }

/* MAIN */
.main_display {
  display: flex;
  justify-content: space-evenly;
  height: 90vh;
}
  /* STATS ASIDE */
  .stats_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: 18%;
    letter-spacing: 0.1rem;
  }
    .stats_title {
      margin: 0;
      font-size: 3rem;
      background: -webkit-linear-gradient(black 45%, plum);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      -webkit-text-stroke: 1px white;
    }
    .stats_box {
      background-color: rgba(221, 160, 221, .2);
      border: 1px solid white;
      border-radius: 1rem;
      -webkit-text-stroke: 0.5px white;
      height: 10%;
      width: 100%;
      font-size: 2.5rem;
      text-align: center;
      line-height: 9vh;
    }
      #stocks_displayed {
        line-height: 4.5vh;
        margin-bottom: 1rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
      }
        .stock_head {
          transform: perspective(1px) translateZ(0);
          flex: 0 0;
        }

  /* GAME AREA SECTION */
  .game_area_container {
    width: 65%;
  }
    .cards_container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-content: space-evenly;
      height: 100%;
      width: 100%;
      perspective: 150rem;
    }
      .card_div {
        height: 30%;
        width: 15%;
        position: relative;
        transition: transform 0.8s;
        transform-style: preserve-3d;
      }
      .card_div.flip {
        transform: rotateY(180deg);
      }
        .card {
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
          height: 100%;
          border: 0.3rem groove plum;
          border-radius: 1rem;
          box-shadow: 0 0 1px rgba(255, 255, 255, 0);
        }
        .back {
          background-image: url(../images/logo.png);
          background-color: rgb(35, 30, 70);
          background-size: contain;
          background-position: center;
          width: 100%;
          position: absolute;
          z-index: 1;
          backface-visibility: hidden;
        }
        .front {
          position: absolute;
          width: 100%;
          background-size: contain;
          backface-visibility: hidden;
          transform: rotateY(180deg);
        }

/* CARD IMAGES */
.cfalcon {
  background-image: url(../images/cfalcon.png);
}
.donkeykong {
  background-image: url(../images/donkeykong.png);
}
.fox {
  background-image: url(../images/fox.png);
}
.kirby {
  background-image: url(../images/kirby.png);
}
.link {
  background-image: url(../images/link.png);
}
.mario {
  background-image: url(../images/mario.png);
}
.pikachu {
  background-image: url(../images/pikachu.png);
}
.samus {
  background-image: url(../images/samus.png);
}
.yoshi {
  background-image: url(../images/yoshi.png);
}

/* WIN MODAL */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
}
  .modal_area {
    background-image: url(../images/modal_background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: repeat-x;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    padding: 5em;
    border: 1px solid white;
    border-radius: 1rem;
  }
    .win_message {
      background-image: url(../images/win_message.png);
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      height: 15rem;
    }
    .play_again_button {
      background-color: rgba(221, 160, 221, .4);
      padding: 2rem;
      border: 1px solid white;
      border-radius: 1rem;
      font-size: 2.5rem;
      text-align: center;
      -webkit-text-stroke: 0.5px white;
      width: 40%;
      margin: 1rem auto;
    }
      .play_again_button:hover {
        background-color: rgba(221, 160, 221, .6);
      }

/* SOUND CONTROLS */
.mute_button, .unmute_button {
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  width: 4rem;
  height: 4rem;
  opacity: 0.5;
  font-size: 4rem;
  color: white;
  z-index: 3;
}
  .mute_button:hover, .unmute_button:hover {
    opacity: 0.8;
  }

/* UTILITY CLASSES */
.icon {
  font-size: inherit;
}

.pointer {
  cursor: pointer;
}

.hidden {
  display: none;
}

/* MEDIA QUERIES */
@media only screen and (max-width: 768px) and (orientation: portrait) {
  .main_display {
    flex-direction: column;
  }

  .stats_container {
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-evenly;
    height: 20%;
    width: 100%;
  }
    .stats_title, #stocks_label, #stocks_displayed {
      display: none;
    }
    .stats_box {
      height: 44%;
      width: 30%;
      line-height: 8vh;
    }

  .game_area_container {
    height: 80%;
    width: 100%;
  }
}

@media only screen and (max-width: 1024px) {
  * {
    font-size: 9px;
  }
}
@media only screen and (max-width: 900px) {
  * {
    font-size: 8px;
  }
}
@media only screen and (max-width: 768px) {
  * {
    font-size: 7px;
  }
  .stock_head {
    width: 14px;
  }
}
@media only screen and (max-width: 600px) {
  * {
    font-size: 6px;
  }
  .stock_head {
    width: 12px;
  }
}
@media only screen and (max-width: 480px) {
  * {
    font-size: 5px;
  }
  .play_again_button {
    width: 75%;
  }
  .stock_head {
    width: 10px;
  }
}
